<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Conexion" value="DATA SOURCE=DESKTOP-1V6MR4L\SQLEXPRESS; INITIAL CATALOG=ALLARIA_ARGENCONS_PRUEBA; USER ID=Frankklin; PASSWORD=frankklin;"/>
    <add key="COD_SUCURS" value=""/>
    <add key="COD_VENDED" value=""/>
    <add key="COD_TRANSP" value=""/>
    <add key="COND_VTA" value=""/>
    <add key="ESTADO" value=""/>
    <add key="TALONARIO" value=""/>
    <add key="TALON_PED" value=""/>
  </appSettings>
</configuration>